@page
@model CommerceApp.Pages.CadastroModel
@{
	ViewData["Title"] = "Cadastro";
}

<div>

	<h1>Novo Cliente</h1>

	<form method="post">
		Nome:
		</br>
		<input name="name" type="text" class="form-control input-lg" autofocus required >
		Email:
		</br>
		<input name="email" type="text" class="form-control input-lg" autofocus required>
		</br>
		<input id="OKButton" type="submit" value="Enviar" class="btn btn-info">
	</form>
</div>
