@page
@model CommerceApp.Pages.ClientesModel
@{
	ViewData["Title"] = "Clientes";
}
<div>

	<h1>Clientes</h1>

	<p>Informações de Clientes</p>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>E-mail</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var cliente in Model.clienteList)
			{
				<tr>
					<td>@cliente.Id</td>
					<td>@cliente.Name</td>
					<td>@cliente.Email</td>
				</tr>
			}
		</tbody>
	</table>
</div>
