@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Home111111 aqui</h1>
    <p>
        Nome: <strong>@Model.name</strong>
        </br>
        Email: @Model.email
    </p>
        
</div>
